.transparent-text-area {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: black;
}